<!DOCTYPE html>
<html lang="">
<head>
    <title>Blog Website</title>

</head>
<body>
<div id="loginPage" class="page">
    <h1>Login</h1>
    <form id="loginForm" action = "profile.html" method = "get">
        <input type="text" id="username" placeholder="Username" required>
        <input type="password" id="password" placeholder="Password" required>
        <button type="submit">Log In</button>
    </form>
</div>


<link rel="stylesheet" type="text/css" href="/styles.css">
<script src="/controllers/AuthorLog.js"></script>
<script src="/models/user.js"></script>

</body>
</html>