<!DOCTYPE html>
<html lang="">

<head>
    <title>scott1e | home</title>
    <link rel="stylesheet" href="../style.css">
    <script src="../models/commands.js" defer></script>
    
</head>
<!-- Temporary link to admin login page -->
<header><a href="adminLogin.html">Admin Login</a></header>
    <!-- Temporary link to Readers view page -->
    <header><a href="page1.html">Readers view</a></header>
    
<body class="site">
    <div class="history" id="history">
        <!-- this will contain previous commands and their responses -->
        <section class="previousCommand">
            <span class="user"><span class="green">guest@scott1e.com</span>:<span class="steel">~</span>$</span>
            <span id="whoami">whoami</span>
            <p> class="output">
                Hey! My name is Scott and I'm super cool and stuff :D I like blogging I hope,
                because that's what this site is all about!<br><br>

                :D<br><br>

                <pre> <!-- https://www.asciiart.eu/text-to-ascii-art -->
                    ░█▀▀░█▀▀░█▀█░▀█▀░▀█▀░▀█░░█▀▀
                    ░▀▀█░█░░░█░█░░█░░░█░░░█░░█▀▀
                    ░▀▀▀░▀▀▀░▀▀▀░░▀░░░▀░░▀▀▀░▀▀▀
                    
                    
                </pre>
        </section>
    </div>
    <div id="cli">
        <span class="user"><span class="green">guest@scott1e.com</span>:<span class="steel">~</span>$</span>
        <label for="cliInterface"></label><textarea id="cliInterface" spellcheck="false" autofocus></textarea>
    </div>
</body>

</html>
