<h1>SCOTTIE</h1>

<div class="article">
    <h2>CLOUD SECURITY</h2>
    <p> The cloud is an ever-evolving landscape, which can be a major challenge for digital forensic investigators. As such, the authors of FOR509: Enterprise Cloud Forensics & Incident Response course make a concerted effort to also constantly evolve our course to address changes. With our summer 2023 course update, we aim to do just that.

        In order to address the latest updates to Microsoft 365, Azure, AWS, Kubernetes, Google Workspace and Google Cloud Forensics, this course update contains more than 50% new content.

        As always, a new release comes with updates to screenshots, product names, and other relevant changes made by the cloud providers since our last release. A primary focus of this update was to include new content related to the most common tactics, techniques, and procedures (TTPs) currently being observed in real-world incidents.

        One topic that has been expanded on for this reason is the use of cloud technologies for lateral movement. In order to discuss how threat actors are using cloud-native tools to move laterally, content further detailing Azure Run Commands and AWS SSM has been added. Privilege escalation also is covered in more depth now based on recent observations of novel techniques in the wild.

        Given that identity and access management (IAM) is the cornerstone of cloud investigations, we’ve updated the Google Cloud section to delve further into the complexities of Google Cloud IAM. We’ve included coverage of Google Policy Analyzer to provide a way to investigate Google Cloud permissions as well as improved on the existing content to provide easier ways of understanding who and what was accessed in Google Cloud IAM. From an endpoint perspective, there is also more coverage on Google Cloud VMs and how to hunt in such environments.

        When we expanded the course to 6 days, we added a section on Kubernetes. We’ve improved upon this section to add coverage of common types of attacks. Additionally, SOF-ELK now includes a parser for Kubernetes to allow for more efficient log analysis.

        As big supporters of open-source projects, we are continuously on the lookout for projects like these being shared by practitioners that will prove valuable to our students. In this update, we’ve added sections covering two recently-released community tools, Microsoft Extractor Suite and Automated Audit Log Forensic Analysis for Google Workspace (ALFA).<br><br>
    </p>
    <button onclick="toggleComments(1)">Comment section</button>
    <div id="comments-1" style="display: none;">
        <h3>Comments</h3>
        <ul id="comments-list-1"></ul>
        <input type="text" id="comment-input-1" placeholder="Add a comment">
        <button onclick="addComment(1)">Add Comment</button>
    </div>
</div>
Other articles you might like:
<div><a href="page2.html" target="_blank">Article 2</a></div>

<link rel="stylesheet" type="text/css" href="../newStyle.css">
<script src="../models/Comments.js"></script>
<script src="../controllers/ComController.js"></script>

<script>
    initComments(1);
</script>