<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Newsletter Subscription</title>
    <link rel="stylesheet" href="../style.css">
    <style>
        form {
            display: inline-block;
        }
    </style>
</head>

<body>
<h1>Subscribe to Our Newsletter</h1>
<form action="/subscribe" method="post">
    <input type="email" name="email" placeholder="Enter your email" required>
    <button type="submit">Subscribe</button>
</form>
</body>
</html>
