* {
    margin: 0;
    padding: 0;
    box-sizing: border-box; /* Include padding and border in the element's total width and height */
}

.admin-dashboard-container {
    display: flex;
    min-height: 100vh;
    background-color: #222831;
}

/* Sidebar specific styles */
.admin-dashboard-sidebar {
    position: fixed;
    top: 0;
    left: 0; /* Align the sidebar to the left */
    bottom: 0;
    width: 250px;
    background-color: #31363F;
    color: #C0C0C0;
    padding: 20px;
    overflow-y: auto;
    z-index: 100; /* Ensures the sidebar is on top of other content */
}

/* Sidebar button styles */
.admin-dashboard-sidebar button {
    background-color: transparent;
    border: none;
    color: #FFFFFF;
    padding: 10px 20px;
    text-align: left;
    width: 100%;
    border-radius: 0; /* Remove border radius if not needed */
    transition: background-color 0.3s;
}

.admin-dashboard-sidebar button:hover {
    background-color: #0a141a; /* Darker background on hover */
}

.admin-dashboard-sidebar button.active {
    background-color: #222831; /* Active button background */
    color: #EEEEEE; /* Active button text color */
}

/* Content area styles */
.admin-dashboard-content {
    margin-left: 250px; /* Push content to the right to avoid overlapping with the sidebar */
    padding: 20px;
    width: calc(100% - 250px); /* Adjust the width of the content area to fill the remaining space */
    overflow-y: auto;
}

.admin-dashboard-content h1 {
    background-color: #31363F; /* Green background */
    color: white; /* White text */
    padding: 10px 20px; /* Same horizontal padding as article tiles */
    margin-bottom: 20px; /* Space below the h1 */
    border-radius: 4px; /* Rounded corners if desired */
    display: block; /* This will make the h1 span the full width */
}

.nav-group.bottom {
    position: absolute; /* Position the group at the bottom */
    bottom: 0; /* Align to bottom */
    width: calc(100% - 40px); /* Adjust the width according to padding */
}

/* Styles for the filter input field */
.filter {
    width: 100%;
    padding: 12px 20px;
    margin-bottom: 20px;
    background-color: white;
    color: #2C3E50;
    border: 1px solid #99a2aa;
    border-radius: 4px;
    box-sizing: border-box;
}

/* Styles for the article tiles */
.article-tile {
    background-color: #76ABAE;
    padding: 15px;
    margin-bottom: 15px;
    border-radius: 4px;
    color: black;
}

.article-tile h2 {
    margin-top: 0;
    color: black;
}

.article-tile p {
    font-size: 14px;
    margin-bottom: 15px;
}

.article-actions button {
    padding: 8px 16px;
    background-color: #2C3E50;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s;
}


.article-actions button:hover {
    background-color: #34495E;
}

.article-actions span {
    color: black;
}

.article-actions {
    display: flex;
    justify-content: space-between; /* Align items to opposite ends */
    align-items: center;
    margin-top: 12px;
}

/* Responsive styles for smaller screens */
@media (max-width: 768px) {
    .admin-dashboard-sidebar {
        position: static; /* Revert back to normal flow on small screens */
        width: 100%;
    }

    .admin-dashboard-content {
        margin-left: 0; /* Remove margin as sidebar is not fixed on small screens */
        width: 100%; /* Content takes full width on small screens */
    }
}