.admin-login {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #2C3E50; /* Dark theme background for better contrast */
}

.login-card {
    width: 400px;
    padding: 20px;
    background: #34495e; /* Darker card background for better contrast */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    border-radius: 8px;
    color: #ecf0f1; /* Light text for readability */
}

.login-header {
    text-align: center;
    margin-bottom: 30px;
    color: #ecf0f1; /* Light text for the header */
    background-color: #76ABAE; /* Header background */
}

.form-group {
    margin-bottom: 20px;
    display: flex;
    flex-direction: column;
}

.form-group input {
    width: 100%; /* Full width of form-group */
    padding: 12px; /* Increased padding for better visibility */
    margin: 0;
    border-radius: 4px;
    border: 1px solid #7f8c8d; /* Slightly lighter border for visibility */
    background: #2c3e50; /* Background matching the page for seamless integration */
    color: #ecf0f1; /* Color contrast for text */
    box-sizing: border-box;
    font-size: 16px; /* Larger font size for better readability */
}

.login-button {
    padding: 12px;
    width: 100%;
    border: none;
    border-radius: 4px;
    background-color: #76ABAE;
    color: #ecf0f1;
    cursor: pointer;
    font-size: 16px;
    box-sizing: border-box;
    transition: background-color 0.3s ease; /* Smooth transition for hover effect */
}

.login-button:hover {
    background-color: #1abc9c; /* Lighter on hover for interactive feedback */
}

/* Placeholder contrast adjustment */
::placeholder {
    color: #95a5a6;
    opacity: 1;
}

/* Interactive elements with hover effects */
.admin-login .login-button:hover,
.admin-login .forgot-password:hover {
    opacity: 0.8; /* Slight opacity change for interactive feedback */
}

.forgot-password {
    color: #ecf0f1;
    background-color: transparent;
    padding: 6px 12px;
    border: 1px solid #ecf0f1;
    border-radius: 4px;
    font-size: 0.8em;
    text-decoration: none;
    transition: color 0.3s ease, background-color 0.3s ease, border-color 0.3s ease;
}

.forgot-password:hover {
    color: #16a085;
    background-color: #ecf0f1;
    border-color: #16a085;
}