/* Main change password container */

.change-password-page {
    background-color: #ecf0f1; /* Dark background for this specific page */
    min-height: 100vh; /* Full viewport height */
    display: flex;
    justify-content: center;
    align-items: center;
}


.change-password-container {
    max-width: 400px;
    padding: 40px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5);
    border-radius: 8px;
    background-color: #1E1E1E;
    color: #C0C0C0;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 0; /* Remove the top margin */
    padding-top: 20px; /* Add padding at the top if needed */
}

.change-password-container h2 {
    margin-top: 0; /* Keep the top margin removed as before */
    margin-bottom: 40px; /* Increase bottom margin to add more space */
    padding-top: 20px; /* Adjust top padding as needed */
    color: #1ABC9C;
}

/* All form labels */
.change-password-form label {
    font-size: 16px;
    color: #C0C0C0;
}

/* All password input fields */
.change-password-form input[type="password"] {
    width: 100%;
    padding: 10px;
    margin-bottom: 20px;
    border: 1px solid #333;
    background-color: #333;
    color: #FFF;
    border-radius: 4px;
}

/* Submit button in the form */
.change-password-form button[type="submit"] {
    width: 100%;
    padding: 12px;
    margin-bottom: 20px;
    background-color: #00796b;
    color: white;
    border-radius: 4px;
    border: none;
}

/* Back to Admin Dashboard button */
.back-button {
    background-color: #333; /* Same as input fields for consistency */
    color: #1ABC9C; /* The blue accent color used elsewhere */
    border: 1px solid #1ABC9C; /* Blue border to match the text */
    padding: 8px 20px; /* Smaller padding for a less pronounced button */
    font-size: 14px; /* Smaller font size for subtlety */
    border-radius: 4px; /* Rounded corners to match other elements */
    box-shadow: none; /* No shadow for a flat design */
    text-decoration: none; /* Removing underline */
    transition: background-color 0.3s, color 0.3s; /* Smooth transition for hover effect */
    display: block; /* Ensure the button is block level to occupy its own line */
    width: auto; /* Auto width based on content size */
    margin: 20px 0 0; /* Top margin for spacing, no bottom margin */
}

/* Hover effect for Back to Admin Dashboard button */
.back-button:hover {
    background-color: #00796b; /* Green background on hover */
    color: white; /* White text on hover for contrast */
}

/* Message display below the form */
.change-password-message {
    margin-top: 20px;
    padding: 10px;
    background-color: rgba(252, 39, 2, 0.49);
    color: #f8d7da;
    border-radius: 4px;
    width: 100%;
    text-align: center;
}

