/* https://www.cufonfonts.com/font/nokia-3410
https://www.geeksforgeeks.org/how-to-include-a-font-ttf-using-css/
https://www.fontspace.com/modeseven-font-f2369
https://www.fontspace.com/quinque-five-font-f65138 */

@font-face {
    font-family: Nokia-3410;
    src: url(./fonts/Nokia_3410.ttf);
}

/* note - when using Nokia, change the margin of #cliInterface to 0.1% to line up the texts properly */

@font-face {
    font-family: ModeSeven;
    src: url(./fonts/Modeseven-L3n5.ttf);
}
@font-face {
    font-family: QuinqueFive;
    src: url(./fonts/Quinquefive-ALoRM.ttf);
}
@font-face {
    font-family: EightBitOperator;
    src: url(./fonts/8bitOperatorPlus8-Regular.ttf);
}
@font-face {
    font-family: DOS;
    src: url(./fonts/Moder_DOS_437.ttf);
}
@font-face {
    font-family: aeys;
    src: url(./fonts/aesymatt.ttf);
}

/*:root {*/
/*    !* Beach *!*/
/*    --font: Nokia-3410;*/
/*    --text-color: #0C356A;*/
/*    --background-color: #FFF6E0;*/
/*    --terminal-color-primary: #0174BE;*/
/*    --terminal-color-accent: #61677A;*/
/*    --font-size: 15pt;*/
/*}*/


/*
Frog

    --font: ModeSeven;
    --text-color: #183D3D;
    --background-color: #93B1A6;
    --terminal-color-primary: #183D3D;
    --terminal-color-accent: #5C8374;

Seafoam

    --font: ModeSeven;
    --text-color: #6499E9;
    --background-color: #BEFFF7;
    --terminal-color-primary: #6499E9;
    --terminal-color-accent: #9EDDFF;

Sakura
    --font: Nokia-3410;
    --text-color: #BB9CC0;
    --background-color: #FED9ED;
    --terminal-color-primary: #67729D;
    --terminal-color-accent: #fffcf3;
 */

/*
text : #c1c1c1
bg : #1a1a1a
primary : #5c8a5e
accent : #fcf9de

bg2 : #00252f
 */

/* the textarea that will handle input */
/* https://stackoverflow.com/questions/7339333/styling-text-input-caret this may be how to get the input cursor */
#cliInterface {
    width: 90vw;
    /* https://stackoverflow.com/questions/632983/css-height-of-textarea-as-a-percentage-of-the-viewport-height */
    height: 96vh;
    border: none;
    background-color: var(--background-color);
    color: var(--text-color);
    margin: .1%;

    font-size: var(--font-size);


    /* https://stackoverflow.com/a/17109828 */
    outline: none;
    overflow: hidden;
    resize: none; /*remove the resize handle on the bottom right*/
}

/* note - I'm swapping (inverting) white and black during selection. This is intentional, to emulate a cli */
/* https://stackoverflow.com/questions/4910077/select-all-child-elements-recursively-in-css */
#cliInterface::selection, body.site *::selection {
    background-color: var(--text-color);
    color: var(--background-color);
}

/* the div that contains the textarea and simulated account */
#cli {
    font-size: var(--font-size);
    display: flex;
}

/* makes everything in the input and previous inputs/outputs use the selected cli font */
#cli > *, .history * {
    font-size: var(--font-size);
    font-family: var(--font);
}

.user {
    margin: 0.25%;
    margin-right: 0.5%;
}

/* just makes the whole page black and the font color to white - may change later */
/*body {*/
/*    background-color: var(--background-color);*/

/*}*/

.everything {
    background-color: #FFF6E0FF;
}

.previousCommand {
    background-color: #FFF6E0FF;
}

body > * {
    color: var(--text-color);
}

/* makes the user info colorized */
.green {
    color: var(--terminal-color-primary);
}

.steel {
    color: var(--terminal-color-accent);
}

.beach-theme {
    --font: Nokia-3410;
    --text-color: #0C356A;
    --background-color: #FFF6E0;
    --terminal-color-primary: #0174BE;
    --terminal-color-accent: #61677A;
    --font-size: 15pt;
}

.beach-theme body {
    background-color: var(--background-color);
    color: var(--text-color);
    font-family: var(--font);
    font-size: var(--font-size);
}

.beach-theme #cliInterface {
    background-color: var(--background-color);
    color: var(--text-color);
}

/* makes previous commands' outputs less aggressively split up */
.output {
    margin: 0.2%;
    margin-top: 0.4%;
}
